<h1><%= @actor.name %></h1>

<h3>Movie:</h3>
<p>
  <% @actor.characters.each do |character| %>
  <%= link_to character.movie.title, character.movie %>
  <% end %>
</p>

<h3>Character:</h3>
<p>
  <% @actor.characters.each do |character| %>
  <%= link_to character.name, character %>
  <% end %>
</p>
