<h1><%= @movie.title %></h1>

<h3>Character:</h3>
<p>
  <% @movie.characters.each do |character| %>
  <%= link_to character.name, character %>
  <% end %>
</p>

<h3>Actor:</h3>
<p>
  <% @movie.characters.each do |character| %>
  <%= link_to character.actor.name, character.actor %>
  <% end %>
</p>
